:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #ffffff;
    --hover-text-color: #2196f3;
    --first-bcg-color: #2f303a;
    --second-bcg-color: #f5f4fa;
    --third-bcg-color: #ffffff;
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
  }